<p>
  <ion-grid>
    <ion-row style="padding-top:5px;padding-bottom:5px">
      <ion-col>
        Country Name
      </ion-col>
      <ion-col>
        National Flag
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of countries">
      <ion-col width-50>
        <label><span>{{row.name}}</span></label>
      </ion-col>
      <ion-col width-50>
        <img [src]="row.flag">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-button (click)="presentModal()" > Open </ion-button>

</p>